<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="stylesheet" href="./css/{{stylesheet}}.css">

    {{>test}}
</head>
<body>

{% body %}
<script src="./js/{{script}}.js"></script>

</body>
</html>
